  <h1>All Schools</h1>
  <div class="container">
   <div class="container marketing">
     <div class="row row-centered">
     <% @schools.each do |school| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <% if !school.picture_url.nil? %>
          <%= image_tag(school.picture_url, :size => "140x140", class: "img-circle") %>
        <% else %>
          <%= image_tag("CTqsxJoW4AAIeZD.jpg", :size => "140x140", class: "img-circle") %>
        <% end %>
           <h2><%= link_to school.school_name, school_path(school) %></h2>
            <p><%= school.school_description%></p>
            <p><%= school.category%></p>
            <% if !school.approved? %>
            <p> <%= link_to "Approve", controller: "school_admins", action: "approve", id: school.id %> </p>
            <% else %> <!-- end for approve button if block -->
            <p> <%= link_to "Remove", controller: "school_admins", action: "approve", id: school.id %> </p>
            <% end %>
        </div><!-- /.col-lg-4 -->
        <%end %>
       </div>
       <%= will_paginate @schools%>
    </div>
    </div>
    <%else %>
