<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Search Schools</h1> | <%= @lng_lat %>
  <%= form_for(schools_path, method: :get) do  %>
    <div class="form-group">
      <%= text_field_tag :query, params[:query], class: 'form-control' %>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>

<%= @my_city %>

<%= render 'schools/school' %>

<% unless @lat_lng %>
  <script>
    getGeoLocation();
  </script>
<% end %>
