<p class = "show_schools">
  <strong>Name:</strong>
  <%= @school.school_name %>, <%= @school.school_address %>,<%= @school.school_description %>, <%= @school.location %>, <%=@school.category %>
</p>


<%= link_to "<- Back", schools_path %>